<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg width="16px" height="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
<title>man; boy; male; avatar; face; profile; silhoulette; social; person</title>
<desc>
	Male avatar mini line, icon, background and graphic. The icon is black and white, linear  flat, vector, pixel perfect, minimal, suitable for web and print.
	</desc>
<path d="M128,110.8c0-4.8-3.2-8.8-7.6-10.4L88,90.8v-14c3.6-4.8,6-10,7.2-16l0.4-1.6c0-0.4,0-0.8,0-1.2l4.4-4V44
	c0-2.8-1.6-5.6-4-6.8V32C96,14.4,81.6,0,64,0S32,14.4,32,32v5.2c-2.4,1.6-4,4-4,6.8v9.6l4.4,4c0,0.4,0,0.8,0,1.2l0.4,1.6
	c1.2,6,3.6,11.2,7.2,16V90L8,100l0,0c-4.8,1.6-8,6-8,10.8V128h128V110.8z M120,120H8v-9.2c0-1.2,0.8-2.4,2-2.8l37.6-12V84.4
	c3.2,2.4,7.2,4.4,11.2,5.6c1.6,0.4,3.2,0.8,4.8,0.8h0.8l-0.8-8c-0.8,0-1.6,0-2.4-0.4C56,80.8,51.6,78,48,74l0,0l0,0l-0.8-1.2
	c-3.2-4-5.2-8.4-6.4-13.6L40,57.6c0-0.8-0.4-1.2-0.4-2V54l-4-4v-6h4V32c0-13.2,10.8-24,24-24s24,10.8,24,24v12h4v6.4l-4,4V56
	c0,0.8,0,1.2-0.4,2l-0.4,1.6c-0.8,4.8-3.2,9.6-6.4,13.6l-0.8,1.2v22.8l38,11.6c1.2,0.4,2,1.6,2,2.8L120,120z"/>
</svg>
