<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg width="34px" height="34px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
<title>shopping cart; shopping bag; hand bag; supermarket; store; commerce; car</title>
<desc>
	Shopping cart mini line, icon, background and graphic. The icon is black and white, linear  flat, vector, pixel perfect, minimal, suitable for web and print.
	</desc>
<path d="M27.2,88.8c-8.4,2.4-13.2,11.6-10.8,20c2.4,6.8,8.4,11.2,15.6,11.2h4.8c2,6.4,8.8,9.6,15.2,7.2c3.6-1.2,6-4,7.2-7.2h37.6
	c2.4,6.4,9.2,9.6,15.2,7.2c6.4-2.4,9.6-9.2,7.2-15.2c-2.4-6.4-9.2-9.6-15.2-7.2c-3.6,1.2-6,4-7.2,7.2H59.2c-2-6.4-8.8-9.6-15.2-7.2
	c-3.6,1.2-6,4-7.2,7.2H32c-4.4,0-8-3.6-8-8s3.6-8,8-8h91.6l4.4-68V16H40v8h80v3.6L116.4,88H35.2l-16-88H0v8h12.8L27.2,88.8z
	 M108,112c2.4,0,4,1.6,4,4s-1.6,4-4,4s-4-1.6-4-4S105.6,112,108,112z M48,112c2.4,0,4,1.6,4,4s-1.6,4-4,4s-4-1.6-4-4
	S45.6,112,48,112L48,112z"/>
</svg>
