<section
  class="account-page account-page-login"
  data-template-account
  data-template-account-login>
  <header class="account-page-masthead">
<!--    <h1 class="account-page-title">
      {{ 'customers.login.title' | t }}
    </h1>-->
  </header>

  
  <article class="account-page-content">
    <div><h1>One-Time Password Update</h1><br>
      As part of the migration to our new webiste we could not copy your passwords due to our commitment to your privacy.<br><br> As a result you will need to update your password for Your Account.<br>After compleating this step you will be able to access your account, addresses, orders, etc.
      <br><br>
      {% form 'recover_customer_password' %}      
           <div class="form-field">
          <input
            class="form-field-input form-field-text"
            id="customer_recovery_email"
            name="email"
            type="text"
            autocorrect="off"
            autocapitalize="off">
          <label
            class="form-field-title"
            for="customer_recovery_email">
            {{ 'customers.forms.email' | t }}
          </label>
        </div>

        <div class="form-action-row">
          <button class="button-primary" type="submit">
            {{ 'customers.forms.submit' | t }}
          </button>

          <button
            class="button-secondary"
            type="button"
            data-login-toggle>
            {{ 'customers.forms.cancel' | t }}
          </button>
        </div>
      {% endform %}
    </div>  
      
    
    <br><br>
   
  </article>
</section>
