
<article id="page-brewing" class="site-page" data-template-page>
  {%comment%}
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>
  {%endcomment%}
  <div class="page-brewing" data-accordion-group>
    {%section "page-brewing"%}
    {%section "page-brewing__column"%}
    {%section "page-brewing__step1"%}
    {%section "page-brewing__step2"%}
    {%section "page-brewing__step3"%}
    {%section "page-brewing__step4"%}
  </div>
</article>
